<template>
  <div>
    <input type="text" v-model="userId">
    <button @click="onUserDetail">User Detail</button>
    <nuxt-child />
  </div>
</template>

<script>
  export default {
    data() {
      return {
        userId: ''
      }
    },
    methods: {
      onUserDetail() {
        this.$router.push('/users/' + this.userId);
      }
    },
    layout: 'users'
  }
</script>