<template>
  <h2>Single user with ID: {{ $route.params.id }}</h2>
</template>

<script>
  export default {
    validate(data) {
      console.log(data)
      return /^\d+$/.test(data.params.id);
    }
  }
</script>
